{% extends "base.html" %}
{% block body%}
<body>
    <div class= "container">
        <h1>Polls <a href="{% url 'polls:login' %}" button class="btn btn-primary"><i class="fa-solid fa-user"></i>Sign In</button></a>
            <a href="{% url 'polls:logout' %}" button class="btn btn-warning"><i class="fa-solid fa-user"></i>Sign out</button></a></h1>
        <div class="row row-cols-1">
            {% if polls %}
                {% for poll in polls %}
                <div class="row">
                    <div class="col">
                        <div class="card mb-4 poll-card">
                            <h3 class="card-header">{{ poll.question }}</h3>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for choice in poll.choice_set.all %}
                                        <li class="list-group-item">{{ choice.choice_text }} - {{ choice.votes }} votes</li>
                                    {% endfor %}
                                </ul>
                                <a href="{% url 'polls:vote' poll.pk %}" class="btn btn-sm btn-primary">Vote</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>There are no polls at this time.</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><a class="btn btn-primary btn-lg" href="{% url 'polls:new_poll' %}" role="button"><i class="glyphicon glyphicon-pencil"></i> New Poll </a></p>
            </div>
        </div>
    </div>
</body>
{% endblock %}  
</html>