<!DOCTYPE html>
<html lang="en">
    {% load bootstrap3 %}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <div class="alert alert-danger" role="alert">Are you sure you wish to delete this poll?</div>
</head>
<form action="." method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "remove" %} Yes
        </button>
</form>
</html>