{% extends "base.html" %}
{% block body%}
<body>
    <div class= "container">
        <h1>Vote on Poll</h1>
        <form method="post">
            {% csrf_token %}
            <div class="card mb-4 poll-card">
            <h3 class="card-header"><button class="btn btn-primary btn-custom btn-space"><i class="fa-solid fa-less-than"></i></button></i>{{ poll.question }}</h3>
                <div class="card-body">
                    <ul>
                        {% for choice in poll.choice_set.all %}
                            <li>{{ choice.choice_text }} - {{ choice.votes }} votes</li>
                        {% endfor %}
                    </ul>
                    <label for="choice">Choose an option:</label>
                    <select name="choice" id="choice">
                        {% for choice in poll.choice_set.all %}
                            <option value="{{ choice.id }}">{{ choice.choice_text }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Vote</button>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <A class="btn btn-danger btn-xs" HREF="{% url 'polls:delete_poll' poll.pk %}">Delete</A>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}
</html>